.moviesGrid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 80px;
    padding: 80px;
    justify-content: center;
}

@media (max-width:460px) {
    .moviesGrid {
        margin: -50px;
        grid-template-columns: repeat(auto-fill, 180px);
        gap: 20px;
    }
}