.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

@media (max-width:390px){
    .moviesGrid{
        grid-template-columns: repeat(auto-fill, 150px);
        gap: 1px;
    }
}