.moviesGrid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 80px;
    padding: 40px;
    justify-content: center;
}

@media (max-width:460px) {
    .moviesGrid {
        grid-template-columns: repeat(auto-fill, 110px);
        gap: 20px;
        padding: 30px;
    }
}